/.idea
/node_modules
/public/hot
/public/storage
/storage/media-library
/public/css/app.css
/storage/*.key
/storage/ssl
/storage/debugbar
/vendor
/packages
public/uploads/
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php
.phpstorm.meta.php
/draft.yaml
/.blueprint

/auth.json

/storage/api-docs/
/composer.bat
/composer.phar
*.rnd

public/js/admin/*
public/js/app.js

serviceAccountKey.json
